extends layout
form(action="onSubmit")
    label(for="username") Email/Username
    input(type="text" name="username")
    label(for="password") Password
    input(type="text" name="password")
    input(type="checkbox" name="admin") Admin
    button Submit


<!--
LOGIN
username/email
password
admin checkbox???
button-log in/sign up