extends layout
form(action="onSubmit")
    label(for="username") Email/Username
    input(type="text" name="username")
    label(for="password") Password
    input(type="text" name="password")
    button Submit


<!--
LOGIN
username/email
password
button-log in/sign up