extends layout
form(action="onSubmit")
    label(for="name") Name
    input(type="text" name="name")
    label(for="username") Email/Username
    input(type="text" name="username")
    label(for="password") Password
    input(type="text" name="password")
    label(for="confirmation") Confirm Password
    input(type="text" name="confirmation")
    button Submit

<!--
SIGN-UP
name
username/email
password
confirm password
button-log in/sign up